*{
    margin-top: 0;
    margin-left: 0;
    font-family: "Inter", serif;;
}
h1{
    color: rgb(44, 44, 44);
    font-weight: 500;
    font-size: 3em;
}
h3{
    color: rgb(44, 44, 44);
    font-weight: 400;

}